<!doctype html>
<html lang="en" ng-app="Application">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WatchYourDiet - Angular1</title>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css" class="rel">
    <link rel="stylesheet" href="/static/bower_components/material-kit/assets/css/material-kit.css" class="rel">
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style/main.css" class="rel">

</head>
<body>

<section ng-controller="main_site">
    {% block hello %}
    {% endblock %}
</section>


<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/material-kit/assets/js/material.min.js"></script>
<script src="/static/bower_components/material-kit/assets/js/material-kit.js"></script>
<script src="/static/bower_components/angular/angular.js"></script>
<script src="/static/js/logic.js"></script>
</body>
</html>