<!doctype html>
<html lang="en" ng-app="Application">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WatchYourDiet - Angular1</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/bower_components/materialize/dist/css/materialize.min.css"
          media="screen,projection"/>

    <link rel="stylesheet" href="/static/style/main.css" class="rel">

</head>
<body>

<section ng-controller="main_site">
    {% block hello %}
    {% endblock %}
</section>


<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bower_components/materialize/dist/js/materialize.min.js"></script>
<script src="/static/bower_components/angular/angular.js"></script>
<script src="/static/js/dist/logic.js"></script>
<script>

    $(document).ready(function () {
        $('.tooltipped').tooltip({delay: 50});
    });

</script>
</body>
</html>